<header class="banner">
    <nav class="content navbar navbar-expand-lg navbar-dark" style="flex-wrap: unset;padding:0">
            <button class="navbar navbar-toggler navbar-light " type="button" data-toggle="collapse" (click)="toggleNavbarCollapsing()"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           

            <div class="collapse navbar-collapse navbar-left" [class.collapse]="navbarCollapsed" style="flex-basis: 80%;"> 
                <ul class="navbar-nav ml-auto" style="flex-direction: row; padding-left: 0px;text-align: center;">
                    <li *ngIf="navbarCollapsed" class="nav-item active">
                        <a class="nav-link" [routerLink]="['#']">
                            <img src="/assets/image (1).png" width="35" height="31"><br>
                            <font size="-40">TICKEK AWAY</font><span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li *ngIf="!navbarCollapsed"  style="font-size:7px;" class="nav-item active">
                            <a class="nav-link" [routerLink]="['#']">
                                <img src="/assets/image (1).png" width="28" height="20"><br>
                               TICKEK AWAY <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    <li *ngIf="navbarCollapsed" class="nav-item">
                        <a class="nav-link" [routerLink]="['#']">
                            <img src="/assets/image (3).png" width=40 height="30"><br>
                            <font size="-40">FISHING CAMP</font>
                        </a>
                    </li>
                    <li *ngIf="!navbarCollapsed" style="font-size:8px;"  class="nav-item">
                            <a class="nav-link" [routerLink]="['#']">
                                <img src="/assets/image (3).png" width=33 height="23"><br>
                               FISHING CAMP
                            </a>
                    </li>
                    <li *ngIf="navbarCollapsed" class="nav-item">
                        <a class="nav-link" [routerLink]="['#']">
                            <img src="/assets/image (4).png" width=40 height="30"><br>
                            <font size="-40">THE AROMAS</font>
                        </a>
                    </li>
                    <li *ngIf="!navbarCollapsed" style="font-size:8px;" class="nav-item">
                            <a class="nav-link" [routerLink]="['#']">
                                <img src="/assets/image (4).png" width=25 height="20"><br>
                               THE AROMAS
                            </a>
                        </li>
                </ul>
            </div>
            <li class="nav-item" id="main-nav" style="list-style-type: none;">
                <a class="nav-link" [routerLink]="['#']"> <img src="/assets/avatar.png" class="round" alt="Avatar"
                        width="100%">
                </a>
            </li>    
    </nav>
    <div class="backgroundimage">
            <div class="content h-100 row align-items-center">
                <div class="container">
                    <div class="row">
                        <nav class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                            <div class="text-color">
                                <h1 class="text-uppercase"><b>A Travesls Year Book</b></h1>
                                <p style="font-size:15px">Read Fodor's reviews to find the best travel destinations, hotels and restaurants. Plan your trip online with Fodor's. India bristles with a mind-stirring mix of landscapes and cultural traditions. Your journey through this intoxicating country will blaze in your memory long after you've left its shores.</p>
                            </div>
                        </nav>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->
        </div>
</header>

