<!--FOOTER 1-->
<footer class="footer1">
    <div class="footer banner">
        <div class="content container ">
            <div class="row footer-desc text-center">
                <div id="social" style="margin-top:100px;margin-right: auto;margin-bottom: auto;margin-left: auto;">
                    <div class="background-color">
                      <h2 class="text-uppercase">let's walk the distance</h2>
                      <h4 class="text-uppercase">AND CHAT, CONNECT AND COFFEE OVER IT</h4>
                    </div>
                    <p> </p><p> </p><p> </p>
                      <a class="twitterBtn smGlobalBtn spaces" [routerLink]="['#']"></a>
                      <a class="facebookBtn smGlobalBtn spaces" [routerLink]="['#']" ></a>
                      <a class="googleplusBtn smGlobalBtn spaces" [routerLink]="['#']" ></a>
                      <a class="linkedinBtn smGlobalBtn spaces" [routerLink]="['#']"></a>
                      <a class="pinterestBtn smGlobalBtn spaces" [routerLink]="['#']" ></a>
                      <a class="tumblrBtn smGlobalBtn" [routerLink]="['#']"></a>
                      <!-- <a class="rssBtn smGlobalBtn" href="#" ></a> -->
                </div>  

            </div> <!--/.row--> 
        </div> <!--/.container--> 
    </div> <!--/.footer-->
    
    <div class="navbar navbar-dark footer-bottom" style="background-color:brown;text-align:center;">
        <div style="font-size: 17px" class="navbar-expand m-auto navbar-text">
           2/64, Kollagunta, Karvetinagaram, Chittoor, 517582.
            <p> PHONE: +91 7032451581</p>
          </div>
    </div> <!--/.footer-bottom--> 
</footer>
