<div class="backgroundimage">
    <div class="content h-100 row align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="container" id="myDIV" style="padding-right: 0px;
                    padding-left: 0px;">
                        <ul class="nav nav-pills">
                            <li> <button  class="btn" data-toggle="modal" data-target="#myModal">
                                    <img src="/assets/image (1).png" width=40 height="30"><br>
                                    <font size="-30">TICKEK AWAY</font>
                                </button>
                            </li>
                            <li> <button  class="btn active" data-toggle="modal" data-target="#myModal">
                                    <img src="/assets/image (3).png" width=50 height="30"><br>
                                    <font size="-30">FISHING CAMP</font>
                            </button>
                            </li>
                            
                            <li><button  class="btn" data-toggle="modal" data-target="#myModal">
                               
                                    <img src="/assets/image (4).png" width=40 height="30"><br>
                                    <font size="-30">THE AROMAS</font>
                                </button>
                            </li>
                        </ul>
                        <p></p><br><br>
                        <ul class="nav nav-pills">
                            <li> <button  class="btn" data-toggle="modal" data-target="#myModal">
                                    <img src="/assets/image (1).png" width=40 height="30"><br>
                                    <font size="-30">TICKEK AWAY</font>
                                </button>
                            </li>
                            <li><button  class="btn" data-toggle="modal" data-target="#myModal">
                                    <img src="/assets/image (3).png" width=50 height="30"><br>
                                    <font size="-30">FISHING CAMP</font>
                                </button></li>
                            <li>
                               <button  class="btn" data-toggle="modal" data-target="#myModal">
                                <img src="/assets/image (4).png" width=40 height="30"><br>
                                <font size="-30">THE AROMAS</font>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>

                <nav class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="text-color">
                        <h2 class="text-uppercase"><b>love. food. chefs. recipes & the fish in sea </b></h2>
                    </div>
                </nav>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
</div>
<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
                <div class="row">
                        <div class="column"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="width:100%"></div>
                         <div class="column"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="width:100%"></div>
                         <div class="column"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"  style="width:100%"></div>
               </div>
    
                    
            
        </div>
</div>